@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="definitionId" value="${alertDefinition.definitionId}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="definitionName" name="监控项" underline="true" value="${alertDefinition.definitionName}" disabled="disabled"/>

                    <#input id="serviceName" name="Stack名" underline="true" value="${alertDefinition.serviceName}" disabled="disabled"/>

                    <#input id="componentName" name="组件名" type="email" value="${alertDefinition.componentName}" disabled="disabled"/>

                    <#input id="scheduleInterval" name="监控周期" type="email" value="${alertDefinition.scheduleInterval}" disabled="disabled"/>
                </div>
                <div class="col-sm-6">
                    <div id="driverInfoContent">
                        <#input id="alertLabel" name="监控范围" underline="true" value="${alertDefinition.scope}" disabled="disabled"/>

                        <#input id="desc" name="描述" underline="true" title="${alertDefinition.description}" value="${alertDefinition.description}" readonly="readonly"/>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="确认添加" id="ensure" icon="fa-check" clickFun="AmbariInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消添加" id="cancel" icon="fa-eraser" clickFun="AmbariInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/ambari/ambari_info.js"></script>
@}
