@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="rolesinambarimanagerInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="dataM_account_id" name="dataM账号id" underline="true" />
                    <#input id="dataM_account" name="dataM账号" underline="true" />
                </div>

                <div class="col-sm-6">
                    <#input id="ambari_user_id" name="ambari账号id" underline="true" />
                    <#input id="ambari_user_name" name="ambari账号" underline="true" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RolesinambarimanagerInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RolesinambarimanagerInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/rolesinambarimanager/rolesinambarimanager_info.js"></script>
@}
