<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wan.dataM.admin.common.persistence.dao.RolesinambarimanagerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wan.dataM.admin.common.persistence.model.Rolesinambarimanager">
        <id column="id" property="id" />
        <result column="datamaccountid" property="datamaccountid" />
        <result column="datamaccount" property="datamaccount" />
        <result column="ambariuserid" property="ambariuserid" />
        <result column="ambariusername" property="ambariusername" />
    </resultMap>

</mapper>
